// New avtar width
$topic-avatar-width: 120px;

.topic-avatar {
  width: #{$topic-avatar-width};
}

.topic-avatar .avatar,
.embedded-posts .topic-avatar {
  width: #{$topic-avatar-width};
  height: #{$topic-avatar-width};
}

// Custom min-height to account for bigger avatar
.cooked {
  min-height: 28px;
}
